:root {
  /* Background */
  --bg-primary: #2e2e2e;
  --bg-secondary: #1e293b;

  /* Textos */
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;

  /* Verde da identidade visual */
  --primary-light: #8bff5a;
  --primary: #43e660;
  --primary-dark: #16a34a;
  --primary-hover: #15803d;

  /* Feedback */
  --danger: #ef4444;

  /* Fonte */
  --font-primary: "Oswald", sans-serif;

  /* Espaçamentos */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Bordas */
  --border-radius: 12px;
}
