:root {
  /* Background */
  --bg-primary: #1c1c1c;
  --bg-secondary: #1c1c1c;
  --input-bg: #1c1c1c;
  --input-border: #a9a9a9;
  --input-focus: #43e660;

  /* Textos */
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;

  /* Verde da identidade visual */
  --primary-light: #8bff5a;
  --primary: #43e660;
  --primary-dark: #16a34a;
  --primary-hover: #15803d;

  /* Feedback */
  --danger: #ef4444;

  /* Fonte */
  --font-primary: "Oswald", sans-serif;

  /* Espaçamentos */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Bordas */
  --border-radius: 12px;
}
